<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Allow iSeeFit to take photos of food to estimate calories.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow iSeeFit to select photos to estimate calories.</string>
	<key>EDAMAM_APP_ID</key>
	<string></string>
	<key>EDAMAM_APP_KEY</key>
	<string></string>
	<key>QWEN_API_URL</key>
	<string>https://dashscope.aliyuncs.com/compatible-mode/v1</string>
	<key>QWEN_API_KEY</key>
	<string>sk-4d572220edf14c70a1a999f1c67d5720</string>
	<key>QWEN_MODEL</key>
	<string>qwen-plus</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key><false/>
		<key>NSAllowsArbitraryLoadsForMedia</key><false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>br676689.xyz</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>

</dict>
</plist>
